*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* nav */
header {
    background-color: #aad2ed;
    padding: 10px 20px;
    margin-top: 0px;

}
hr{
    margin: 0px;
}

.nav {
    list-style: none;
}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.nav li {
   
    margin-right: 15px;
    
}

.nav a {
    text-decoration:none;
    color: white;
    font-weight:bold;
}
/* section */
section{
    text-align: center;
    padding: 40px 20px;
    background: white;
}
h1 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 20px;
    color: #b5c4d3;
}
form {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: left;
}
form input,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    /* outline: none; */
}

form input:focus,
form select:focus {
    border-color: #2ca9bc;
}


button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}


button[type="submit"] {
    background:linear-gradient(135deg, #F46734, #EA2E6D);
    color: white;
}



/* Footer */
footer {
    background-color: #2c3e50; 
    color: #fff;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

footer hr {
    border: 0.5px solid #444;
    margin-bottom: 30px;
}

footer .f {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 40px;
}

footer .footer-col {
    flex: 1 1 200px; 
}

footer .footer-col h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #f7c59f; 
}

footer .footer-col p {
    font-size: 14px;
    line-height: 1.6;
    color: #ccc;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer > .f > ul {
    display: flex;
    gap: 80px; 
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #f7c59f;
}

footer a {
    color: #fff;         
    text-decoration: none;  
    transition: color 0.3s;
}

footer a:hover {
    color: #f7c59f;        
    text-decoration: none; 
}

footer .f2 {
    border-top: 1px solid #444;
    padding-top: 20px;
}

footer .f2 p {
    text-align: center;
    color: #aaa;
    font-size: 13px;
}
body {
    display: flex;
    flex-wrap: wrap;
}

header, footer {
    width: 100%;
}

body > section {
    width: 50%;
    min-height: calc(100vh - 70px); 
}
.sec2 {
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
    text-align: center;
}


.feature {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255, 115, 0, 0.1);
    border: 1px solid rgba(255, 115, 0, 0.3);
    padding: 12px;
    border-radius: 10px;
    margin: 10px auto;
    width: 80%;
}


.feature span {
    background: linear-gradient(135deg, #F46734, #EA2E6D);
    font-size: 18px;
}


.feature p {
    margin: 0;
    color: white;
}
.role-options {
  display: flex;
  gap: 20px; 
}

.role-options label {
  display: flex;
  align-items: center;
  gap: 5px; 
}
.company {
  display: none;
}
.sab{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    footer .f {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .footer-col {
        margin-bottom: 30px;
    }
}
